.Section{
    height:fit-content;
  padding:30px;
    margin-top: 30px !important;
    box-shadow: 1px 1px 10px  rgb(12, 12, 12);
    background-color:#e8a8f3 !important;
    color:#9c27b0 !important;
  }