.tb thead tr th {
  background-color: #9c27b0 !important;
  border: 0px;
  color: white;
}
.tb tbody tr td a {
  text-decoration: none;
  color: #222222;
}
.tb {
  font-size: 8pt;
  padding: 3px !important;
}

.table {
  height: auto;
}
.tableCard {
  height: 500px;
  position: relative;
}
.tableFooter {
  position: absolute;
  bottom: 0%;
  left: 42%;
  display: flex;
  justify-content: center;
  padding: 7px;
  background-color: whitesmoke;
}
.tableFooter input {
  border: 2px solid #9c27b0;
  padding: 3px;
}
.tableFooter button {
  background-color: #9c27b0;
  color: white;
  border: 0px;
}
@media screen and (max-width: 882px) {
  .tableText {
    color: #5d5c5e;
  }

  .tableFooter input {
    border: 1px solid #9c27b0;
  }
  .tableFooter button {
    background-color: #9c27b0;
    color: white;
    border: 0px;
  }
  .table {
    overflow: scroll;
  }
  .tableCard {
    height: 700px;
    position: relative;
  }
  .tableFooter {
    position: absolute;
    bottom: 0% !important;
    left: 0% !important;
    display: flex;
    justify-content: center;
    padding: 0px !important;
    background-color: whitesmoke;
  }
}
