.content {
  height: fit-content;

}
.table tr td {
  padding: 15px;
  font-weight: 400;
  text-align: left;
}

.table2 {
  margin-top: 50%;
}

.table2 tr td {
  padding: 15px;
  font-weight: 400;
  text-align: left;

}