.Drawer {
  display: none;
}

.head {
  background-color: #9c27b0;
  color: white;
  padding: 8px;
}

.appDraw {
  background-color: #9c27b0;
  height: 100vh;
  padding: 0% !important;
  color: white;
}

.appDraw ul li a {
  text-decoration: none;
  color: white !important;
  width: 100% !important;
}
.appDraw ul li:hover {
  cursor: pointer;
}

@media screen and (max-width: 763px) {
  .tog_icon {
    display: inline-block !important;
    margin-top: 15px;
  }
  .Drawer {
    display: initial;
  }
  .appDraw {
    background-color: #9c27b0 !important;
    height: 100%;
    padding: 0% !important;
    color: white;
  }
}
