.Section{
  height:fit-content;
padding:20px;
  margin-top: 30px !important;
  box-shadow: 1px 4px 15px  rgb(186, 194, 204);
  background-color:white !important;
}



.table tr td{
  padding:15px;
  font-weight: 500;
}