.tb thead {
  background-color: #9c27b0 !important;
  border: 0px !important;
  color: white;
  font-size: 10pt;

}

.table tr td {
  padding: 15px;
  font-weight: 400;
  text-align: left;
}

.table2 {
  margin-top: 50%;
}

.table2 tr td {
  padding: 15px;
  font-weight: 400;
  text-align: left;

}

.tb tbody tr td {
  text-decoration: none;
  color: #222222;
  font-size: 9pt;
}

.tb tbody tr:hover {
  cursor: pointer;
}



.table {
  height: fit-content;

}

.tableCard {
  height: fit-content;
}

.tableFooter {
  bottom: 0%;
  left: 42%;
  display: flex;
  justify-content: center;
  padding: 7px;
  background-color: whitesmoke;
}

.tableFooter input {
  border: 2px solid #9c27b0;
  padding: 3px;
}

.tableFooter button {
  background-color: #9c27b0;
  color: white;
  border: 0px;
}

@media screen and (max-width: 882px) {
  .tableText {
    color: #5d5c5e;
  }

  .tableFooter input {
    border: 1px solid #9c27b0;
  }

  .tableFooter button {
    background-color: #9c27b0;
    color: white;
    border: 0px;
  }




  .tableFooter {
    bottom: 0% !important;
    left: 0% !important;
    display: flex;
    justify-content: center;
    padding: 0px !important;
    background-color: whitesmoke;
  }
}


@media print {
  button {
    display: none !important;
  }

  .table tr td {
    padding: 15px;
    font-weight: 500;
    text-align: left;
  }

  .table2 {
    padding: 15px;
    font-weight: 500;
    text-align: left;
    margin-top: 0%;
  }

}