@media screen and (min-width: 882px) {
  .table {
    max-height: 550px;
  }

  .tableCard {
    height: 600px;
    position: relative;
  }
  .tableText {
    padding: 10px;
    color: #5d5c5e;
  }
  .tableFooter {
    position: absolute;
    bottom: 0%;
    left: 42%;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
  }
  .tableFooter input {
    border: 2px solid #9c27b0;
    padding: 10px;
  }
  .tableFooter button {
    background-color: #9c27b0;
    color: white;
    border: 0px;
    padding: 10px;
  }

  .tb tbody tr td {
    background-color: white;
    padding: 10px;
    border: 0px;
  }
}
@media screen and (max-width: 881px) {
  .table {
    height: 600px;
    overflow: scroll;
  }
  .tBody {
    height: 400px;
    overflow: scroll;
  }

  .tableCard {
    height: 600px;
    position: relative;
  }

  .tableFooter {
    position: absolute;
    bottom: 0%;
    background-color: whitesmoke;
    padding: 10px;
  }
  .tableFooter input {
    border: 2px solid #9c27b0;
    padding: 3px;
  }
  .tableFooter button {
    background-color: #9c27b0;
    color: white;
    border: 0px;
  }

  .tb tbody tr td {
    background-color: white;
    border: 0px;
  }
}
