.sidebar{
  background-color: rgb(32, 24, 43);
  height:100vh;
  padding:0% !important;
  font-size:10pt;
  color:white;
  
}
.sidebar ul{
width:100% !important;
color:white;
padding:0px;
}



.sidebar ul li {
  list-style:none;
  padding:13px 30px;
  margin: 0% !important;
}
.sidebar ul li a{
  text-decoration:none;
  color:white;
  width:100% !important;
}
.sidebar ul li:hover{
cursor:pointer;
}

@media screen and (max-width: 763px) {
  .sidebar{
    display:none !important;
    
  }
}